streamlit
pymongo
bcrypt
python-dotenv
PyMuPDF
plotly
pandas
email-validator
streamlit>=1.30.0
pymongo>=4.6.0
bcrypt>=4.1.2
PyMuPDF>=1.23.7      
plotly>=5.20.0
pandas>=2.2.2
pillow
streamlit>=1.8.0
dnspython
